*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  --color-black: hsl(0deg, 0%, 0%);
  --color-grey-dark: hsl(0deg, 0%, 20%);
  --color-white: hsl(0deg, 0%, 100%);
  --color-green-dark: hsl(140deg, 75%, 30%);
  --color-green-light: hsl(140deg, 59%, 70%);
}

body {
  font-family: -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans,
    sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0 1rem 1rem 1rem;
  max-width: 800px;
  margin: 0 auto;
  background: var(--color-green-light);
  color: var(--color-grey-dark);
}

li,
p {
  line-height: 1.4;
}
